@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GoodCoffeeShop.ViewModels.CoffeeShop.ShopViewModel


    <h1>ID NUMBER: @Model.CurrentUserID</h1>
    <h1>AVAILABLE FUNDS: $@Model.Funds</h1>
    <br />
    



@{
    foreach (var item in Model.Items)
    {
        <p>Name: @item.Name</p>
        <p>Description: @item.Description</p>
        <p>Price: @item.Price</p>
        <p>Quantity: @item.Quantity</p>


        if (item.PurchasedByUser != true)
        {
            <a asp-controller="CoffeeShop" asp-action="BuyResult" asp-route-id="@item.ItemID" asp-route-userid="@Model.CurrentUserID">BUY ITEM</a>
        }
        else
        {
            <h3>Purchased by current user: @Model.CurrentUserID </h3>
            <a asp-controller="CoffeeShop" asp-action="BuyResult" asp-route-id="@item.ItemID" asp-route-userid="@Model.CurrentUserID">BUY ITEM AGAIN?</a>
        }

        <br />
    }
}